*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

/* Remoção da linha h1{
    margin: 16px 0;
}*/

/*Correção do container à baixo*/

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }

/*Remoção do container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-between;

}*/

header {
    background-color: rgba(0, 106, 255, 0.867);
    color:#fff;
    padding: 8px 0;
    margin-bottom: 56px;
    
}

/*Estilizando header.container*/
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Estilizando header*/
header h1{
    font-size: italic;
}

/*Estilizando Navegação*/
header nav ul{
    list-style: none;
    padding: 0;
}

/* Removendo essa estilização nav  { 
    list-style: none;
    display: inline;
    margin-left: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

}*/

header nav ul li {
    display: inline;
    padding: 0 16px;
    font-weight: bold;
}


/* remoção  do container-flex{
    display: flex;
    margin: 0 15%;
}*/

/*Estilizando*/
header nav ul li a{
    text-decoration: none;
    color: #fff;
}

/*Removendo container-flex img{
    margin-right: 8px;
    border: none;
}*/

/*acrescentando*/
body{
    background-color: #e6ebec;
}
/* removendo #sobre-a-loja img{
    max-width: 250px;
    margin-right: 24px;
    height: 200px;
}*/

/*Estilizando h2*/
h2{
    color:rgba(0, 106, 255, 0.867) ;
    border-bottom: 2px solid rgba(0, 106, 255, 0.867) ;
    margin-bottom: 32px;
    padding-bottom: 16px;
    font-style: italic;
}

/*Estilização do h2 ocorre acima , então não há mais necessidade nesse trecho.
section h2{
    margin-bottom: 32px;
    border-bottom: 3px solid gba(0, 106, 255, 0.867);
    color:gba(0, 106, 255, 0.867) ;
    font-style: italic;
}

.lista-sapatos{
    flex-wrap: nowrap;
}

.lista-sapatos li{
    list-style: none;
    max-width:22.5%;
    margin-bottom: 24px;
}

/*.lista-sapatos li img{
height: 250px;
}

.lista-sapatos li h3 {
    margin: 16px 0;
    font-size: 24px;
}

.item-central{
    margin: 0 15%;
}

.lista-sapatos li button{
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color:
    color: ;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.lista-sapatos li p{
    margin: 16px 0;
    font-size: 24px;
}

@media screen and (max-width: 640px) {
    .container-flex{
        display: block;
    
    }

    .container{
        max-width: 90%;
    }*/
 
    /*Correção*/
    #sobre-a-loja {
        display:flex;
    }

    /*.lista-sapatos li img{
        height: 250px;
    }

    .item-central{
        margin: 0 15%;
    }
    .lista-sapatos li h3 {
        font-size: 24px;
        justify-content:left;
    }*/

    .sobre-loja-texto{
        padding: 16px;
    }

    button{
        border-radius: 3px;
        width: 100%;
        border-style: none;
        background-color:rgba(0, 106, 255, 0.867);
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }

    .produto{
        border:  1px solid #CCC;
        padding: 16px;
        text-align: center;
        
    }

    .produtos{
        display: grid;
        grid-template-columns:repeat(4, 1fr) ;
        gap: 16px;
        justify-items: center;
        align-items: center;
    }

    .produtos a img {
        width: 100%;
    }

    section {
        margin-top: 32px;
        padding: 16px;
    }



@media screen  and (max-width:1023px) {
    #sobre-loja {
        flex-direction: column;
        align-items: center;
    }

    .sobre-a-loja-img {
        order: 1;
    }

    .sobre-loja-texto{
        order: 2;
        text-align: center;
        margin: 24px auto;
    }

    .produtos{
        grid-template-columns: repeat(2,1fr);
        }
    } 

    footer{
        background-color: rgb(89, 94, 236);
        color: #fff;
        padding: 16px 0;
        bottom: 0;
        width: 100%;
    }

    footer .container{
        text-align: center;
    }

    @media screen and (min-width: 641px) and (max-width: 1023px){
        .produtos {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: 640px){
        .container{
            max-width: 90%;
        }
        .sobre-loja {
            display: block;
            font-size: 1em;
        }

        .produtos{
            display: inline;
        }

        .produto,
        .produto p {
            margin-bottom: 32px;
        }
    }

    /*.sobre-a-loja .container-flex {
        display:block;
    } 
    .container{
        width: 90%;
    }
    
}*/